@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+CU:wght@100..400&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+CU:wght@100..400&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F8F7F4; */
    /* font-family: "Poppins", sans-serif; */
}

html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: #F8F7F4;
    /* background-color:darkred; */
}
.navigation{
    height: 90px;
    width: 100%;
    background-color: #F8F7F4;
    /* background-color: darkcyan; */
    display: flex;
}

.left-nav-bar{
    height: 100%;
    width: 20%;
    /* background-color: darkgoldenrod; */
    font-family: "Playwrite CU", cursive;
    /* font-family: "cursive"; */
    padding-left: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-nav-bar i{
    display: none;
}

.middle-nav-bar{
    height: 100%;
    width: 40%;
    /* background-color: darkkhaki; */
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
}
.middle-nav-bar a{
    margin-left: 1.5vw;
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.middle-nav-bar  i{
   font-size: 1.5vw;
   /* margin-top: 2vw; */
}

.right-nav-bar{
    height: 100%;
    width: 40%;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2VW;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.right-nav-bar button{
    padding: .8vw 2.5vw;
    margin-left: 1.5vw;
    border-radius: 50px;
    border: none;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    /* background: transparent; */
}
.btn{
    color: black;
}
.btn-1{
    background-color: black;
    color: #ffff;
}
.right-nav-bar i{
   font-size: 1.5vw;
    position: absolute;
    left: 9%;
    /* color: gray; */
}

.right-nav-bar input{
    padding: .8vw 2vw;
    border-radius: 50px;
    background-color: #ffff;
    border: none;
}

.home{
    height: fit-content;
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F7F4;
    padding: 4vw;
}
.home p{
    /* background-color: darkcyan; */
    padding: .7vw .9vw;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #DAB9F1;
    margin: 1vw 0;
}
.home  h1{
    /* font-family: Arial; */
    font-family: "Source Serif 4", Georgia, serif; 
    width: 65%;
    font-weight:300 ;
    font-size: 5.4vw;
    margin: 1.5vw;
    text-align: center;
    line-height: 1;
}
.home h4{
    font-size: 1.8vw;
    font-weight: 400;
    margin: 1.5vw;
    text-align: center;
}

.home button{
    padding: 1.5vw 2vw;
    border-radius: 50px;
    border: none;
    font-size: 1.1vw;
}




::-webkit-scrollbar{
    display:none;
}

.TEXT{
        height: 30%;
        width: 100%;
        /* background-color:darkgoldenrod; */
       display: flex;
       justify-content: center;
       align-items: center;
       /* background-color: #F8F7F4; */
}

.TEXT h1{
    font-size: 3.7vw;
    font-weight: 400;
}



.wrapper1 {
    height: 50vh;
    background-color: #f1efec;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    overflow:auto;
}

.wrapper1-container {
    /* background-color: aqua; */
    height: 95%;
    display: flex;
    animation: scroll 20s linear infinite;

}

::-webkit-scrollbar{
    display: none;
}
.box {
    height: 100%;
    width: 250px;
    background-color: white;
    border-radius: 30px;
    background-image: url(assets/1fb34610061a95a007ac5e7b1dc53138.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    padding-left: 1vw;
    padding-bottom: 1vw;

}

.box h4{
    color: white;
    font-size: 1.1vw;
    line-height: 1.4vw;
}
.div{
    display: flex;
}
.div p{
    /* background-color: black; */
    color: #F8F7F4;
    margin-right: .3vw;
    padding:.4vw .8vw;
    border-radius: 50px;
    border: 1px solid darkgrey;
    margin-top: .5vw;
}

.box1 {
    background-image: url(image-1.webp);
}

.box2 {
    background-image: url(image-2.webp);
}

.box3 {
    background-image: url(image-3.webp);
}

.box4 {
    background-image: url(image-4.webp);
}

.box5 {
    background-image: url(image-5.webp);
}

.box6 {
    background-image: url(image-6.webp);
}

.box7 {
    background-image: url(image.webp);
}

.Explore-image-page{
    height: 290%;
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    /* background-color: #FFDA79; */
}
.Explore-image-page h1{
    text-align: center;
    /* font-family: Arial; */
    padding-top: 3vw;
    font-size: 3.5vw;
    font-weight: 500;
}

.images-page{
    height: 100%;
    width: 100%;
   
   
}

.images{
    height: 15%;
    width: 27%;
    margin: 1vw 0;
    /* display: flex; */
}
.upper-images-box{
    width: 100%;
    height: 80%;
    /* background-color: darkcyan;  */
    background-image: url(laptop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F8F7F4;
    border-radius: 10px;
}

.image-1{
    background-image: url(wolf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-2{
    background-image: url(vajdica.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-3{
    background-image: url(Typography.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-4{
    background-image: url(tom.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-5{
    background-image: url(studio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-6{
    background-image: url(shankara.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-7{
    background-image: url(ooze.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-8{
    background-image: url(Branding.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-9{
    background-image: url(nixtio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-10{
    background-image: url(muti.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-11{
    background-image: url(heartbeat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-12{
    background-image: url(halolab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-13{
    background-image: url(geomark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-14{
    background-image: url(geex\ arts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-15{
    background-image: url(emote.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-16{
    background-image: url(Romain\ Trystram.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-17{
    background-image: url(design\ age.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-18{
    background-image: url(ball.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.lower-text-box{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    display: flex;

}

.lower-text-box-left{
    width: 60%;
    height: 100%;
    /* background-color:darkgoldenrod; */
    display: flex;
    align-items: center;
    padding-left: .2vw;
}

.lower-text-box-left h5{
    font-size: 1.1vw;
    margin: .8vw;
    font-weight: 300;
    /* background-color: #DAB9F1; */
}

.lower-text-box-left p{
    background-color: grey;
    color: #F8F7F4;
    padding: .3vw;
    font-weight: 700;
    font-size: 1vw;
    border-radius: 7px;
}

.lower-text-box-right{
    width: 40%;
    height: 100%;
    /* background-color:darkkhaki; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .8vw;
}

.lower-text-box-right p{
    margin: .6vw;
}
.lower-text-box-right i{
    font-size: 1.4vw;
}

.browse-button{
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-button button{
    padding: 1.2vw 1.5vw;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 1px solid black;
    background: transparent;
}

.join-dribble-page{
    height: 90vh;
    width: 100%;
    background-color: #FFDA79;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
}

.join-dribble-page h1{
    font-family: "Source Serif 4", Georgia, serif;
    width: 50%;
    font-weight:300 ;
    font-size: 4.8vw;
    margin: 1.5vw;
    text-align: center;
    line-height: 1;
}

.join-dribble-page p{
    padding: .7vw .9vw;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    border-radius: 50px;
    line-height: 2.5vw;
    width: 42%;
    text-align: center;
    border: none;
    /* background-color: #DAB9F1; */
    margin: 1vw 0;
}

.learn-about-hiring-button button{
    padding: 1.3vw 1.6vw;
    border-radius:50px ;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
}

.join-dribble-page a{
    color: black;
}


.wrapper5 {
    height: 40vh;
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper5-container {
    height: 80%;
    /* width: 100%; */
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.contain {
    height: 100%;
    margin-left: 20px;
    animation: scroll 20s linear infinite;
}

.text{
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.1vw;
}

.img {
    height: 65%;
    width: 210px;
    /* background-color: red; */
    background-image: url(Mobile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.img1 {
    background-image: url(Branding.webp);
} 

.img2 {
    background-image: url(web\ Design.webp);
}

.img3 {
    background-image: url(Typography.webp);
}

.img4 {
    background-image: url(product\ Design.webp);
}

.img5 {
    background-image: url(Isullation.webp);
}

.img6 {
    background-image: url(Animation.webp);
}

.img7 {
    background-image: url(web\ Design.webp);
}

.img8 {
    background-image: url(Branding.webp);
}


.upper-footer {
    height: 20vh;
    width: 100%;
    /* background-color: lightsalmon; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upper-footer-left {
    /* font-family: "Dancing Script", cursive; */
    font-family: "Playwrite CU", cursive;
    font-size: 2.5vw;
    font-weight: 900;
}

.upper-footer-middle a{
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 0 1.2vw;
    color: black;
}

.upper-footer-right i{
    padding: 0 .3vw;
    font-size: 1.5vw;
}

.left-footer{
    display: flex;
}
.upper-footer h3{
    margin-right: 4vw;
    font-family: "Playwrite CU", cursive;
}
.upper-footer-left h3{ 
    font-size: 1.4vw;
}

.upper-footer p{
    margin: 0 1.7vw;
    font-size: 1.1vw;
    font-weight: 600;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.right-foooter{
    margin-left: 5vw;
    background-color: aqua;
}

.right-foooter i{
    font-size: 2vw;
    margin: 0 .3vw;
} 


.lower-footer {
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lower-footer-left a{
    text-decoration: none;
    color: rgb(115, 112, 112);
    font-weight: 100;
    font-size: 1.2vw;
    padding: 0 .9vw;
}

.lower-footer-right a{
    text-decoration: none;
    color: rgb(115, 112, 112);
    font-weight: 100;
    font-size: 1.2vw;
    padding: 0 .9vw;
}






@media (min-width:1px) and (max-width:425px){
    .wrapper{
        height: fit-content;
    }
    .navigation{
        height: 80px;
    }

    .left-nav-bar{
        width: 50%;
        padding-left: 3vw;
    }

    .left-nav-bar h3{
        font-size: 5vw;
    }
    .left-nav-bar i{
        display: block;
        font-size: 8vw;
        margin-right: 3vw;
    }

    .middle-nav-bar{
        display: none;
    }

    .right-nav-bar{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .right-nav-bar input{
        display: none;
    }  
    .right-nav-bar i{
        font-size: 8vw;
        margin-left: 5vw;
        color: black;
    }
    .right-nav-bar .btn-1{
        font-size: 4vw;
        margin-right: 4vw;
        padding: 2vw 3vw;
    }
    .right-nav-bar .btn{
        display: none;
    }

    .home{
        height:95vh;
    }
    .home p{
        padding: 1.3vw 2vw;
        font-size: 4.4vw;
        margin-bottom: 3vw;
        margin-top: 18vw;
    }

    .home h1{
        font-size: 13vw;
        width: 100%;
        margin-bottom: 8vw;
    }
    .home h4{
        font-size:5.6vw ;
        margin-bottom: 13vw;
    }
    .box h4{
        margin-left: 2vw;
        font-size: 4.2vw;
        line-height: 4.5vw;
        font-weight: 600;
        margin-bottom: 1vw;
    }
    .div p{
        margin: 1.4vw 1vw 1.4vw 3vw ;
        padding: 1.3vw 2vw;
    }

    .home button{
        font-size: 4.5vw;
        padding: 5vw 7vw;
        font-weight: 500;
        margin-bottom: 14vw;
       
    }

    

    .slider h3{
        font-size: 5vw;
        line-height: 1.5;
        margin-left: 2vw;
        font-weight: 400;
        /* background-color: aqua; */
        width: 80%;
    }

    .slide-button p{
        padding: 1vw 2vw;
        font-size: 4vw;
        margin-bottom: 3vw;
        margin-left: 2vw;
    }

    .TEXT h1{
        font-size: 12vw;
        text-align: center;
    }

    .join-dribble-page{
        height: 150vh;
    }

    .join-dribble-page h1{
        font-size: 13vw;
        width: 80%;
        margin-top: 20vw;
    }

    .join-dribble-page p{
        font-size: 6.5vw;
        margin-top: 9vw;
        width: 85%;
        line-height: 1.5;
    }
    .learn-about-hiring-button{
        display: flex;
        flex-direction: column;
        margin-top: 8vw;
    }
    .learn-about-hiring-button button{
        padding: 6vw 6vw;
        font-size: 4vw;
        margin: 2vw;
    }

    .join-dribble-page a{
      padding-left: 18vw;
      text-align: center;
      padding-right: 17vw;
    }
    .text{
        font-size: 4.3vw;
        margin-top: 4vw;
    }

    .upper-footer {
        flex-direction: column;
        margin-bottom: 9vw;
    }

    .upper-footer-left h3{
        font-size: 7vw;
        font-weight: 900;
    }

    .upper-footer-middle{
        text-align: center;
        margin-top: 4vw;
    }

    .upper-footer-middle a{
        font-size: 4.5vw;
        font-weight: 500;
        line-height: 2;
    }

    .upper-footer-right i {
        font-size: 5.5vw;
    }

   
    .lower-footer{
        height: 20vh;
        flex-direction: column;
        padding-top: 14vw;
    }
    .lower-footer-left a {
        font-size: 4vw;
        line-height: .2;
        font-weight: 400;
    }

    .lower-footer-right {
        text-align: center;
        width: 70%;

    }

    .lower-footer-right a {
        font-size: 4.5vw;
        line-height: 1.8;
        font-weight: 400;
    }

    .browse-button button{
        padding: 5.5vw 6vw;
        border: 2px solid black;
    }
    .Explore-image-page{
        height: 900%;
    }

    .images{
        width: 90%;
        height: 245px;
    }

    .lower-text-box-left h5{
        font-size: 4.5vw;
        margin: 2vw;
        border-radius: 3px;
    }

    .lower-text-box-left p{
      padding: 1.2vw 2vw;
      font-size: 2.3vw;
    }

    .lower-text-box-right i{
        font-size: 5vw;
    }
    
}


@keyframes scroll{
    0%
    {
        transform: translateX(0px);
    }

    20%{
        transform: translateX(-250px);
    }
    40%{
        transform: translateX(-500px);
    }

    60%{
        transform: translateX(-750px);
    }
    80%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(-1500px);
    }
    

    
}

